<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>~/startpage</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&amp;display=swap" rel="stylesheet">

    <!-- anime.js -->
    <script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>

<body>
    <header>
        <div id="img">
            <img src="image.gif" />
        </div>
    </header>

    <main>
        <div id="content">
            <div id="head">
                <form action="https://google.com/search">
                    <label for="q" autofocus>~/</label>
                    <input type="text" name="q" autocomplete="off">
                </form>
                <div id="info">
                    <p id="weatherDesc">...</p>
                    <p id="temp">...</p>
                </div>
            </div>
            <div id="links">
                <section>
                    <h3>code</h3>
                        <ul>
                            <li><a href="https://stackoverflow.com">stackoverflow</a></li>
                            <li><a href="https://github.com">github</a></li>
                            <li><a href="https://https://wiki.archlinux.org/">arch wiki</a></li>
                        </ul>
                </section>
                <section>
                    <h3>social</h3>
                        <ul>
                            <li><a href="https://vk.com">vk</a></li>
                            <li><a href="https://reddit.com">reddit</a></li>
                            <li><a href="https://telegram.org">telegram</a></li>
                        </ul>
                </section>
                <section>
                    <h3>tools</h3>
                        <ul>
                            <li><a href="https://imagecolorpicker.com/en">color picker</a></li>
                            <li><a href="https://https://materialdesignicons.com/">material icons</a></li>
                            <li><a href="https://fonts.google.com">google fonts</a></li>
                        </ul>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/eaaasun/startpage"></a>
    </footer>
    <script type="module">
        // ----- CHANGE THESE VARIABLES

        // Do you want to show the weather?
        const weather = true;
        // Do you want animations?
        const animated = true;

        // Read the documentation for setting the weather API key
        const apiKey = "";
        const lat = 0;
        const lon = 0;
        const units = "metric";

        // ----- DON'T TOUCH ANYTHING BELOW THIS UNLESS YOU KNOW WHAT YOU'RE DOING

        var weatherEl = document.getElementById("weatherDesc");
        var tempEl = document.getElementById("temp");

        if (weather) {
            var apiLink =
                "https://api.openweathermap.org/data/2.5/weather?lat=" +
                lat +
                "&lon=" +
                lon +
                "&units=" +
                units +
                "&appid=" +
                apiKey;
            console.log(apiLink);
            // grabs json data from url, thanks https://stackoverflow.com/a/35970894
            var getJSON = function (url, callback) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", url, true);
                xhr.responseType = "json";
                xhr.onload = function () {
                    var status = xhr.status;
                    if (status === 200) {
                        callback(null, xhr.response);
                    } else {
                        callback(status, xhr.response);
                    }
                };
                xhr.send();
            };

            // gets city name from weather api
            getJSON(apiLink, function (err, data) {
                if (err !== null) {
                    weatherEl.innerText = "";
                    tempEl.innerText = "";
                } else {
                    var city = data.name;
                    var temp = data.main.temp;
                    var hiTemp = data.main.temp_max;
                    var loTemp = data.main.temp_min;
                    var weatherDesc = data.weather[0].description;
                    weatherEl.innerHTML =
                        weatherDesc + " in " + city;
                    tempEl.innerHTML = "h: " + hiTemp + "° / c: " + temp + "° / l: " + loTemp + "°";
                }
            });
        } else {
            weatherEl.innerText = "";
            tempEl.innerText = "";
        }



        if (animated) {
            // hides all elements
            document.querySelectorAll("*").forEach(el => el.style.opacity = 0);

            // anime.js animation function
            function playAnimation() {
                var tl = anime.timeline({
                    easing: "easeInOutExpo",
                    duration: 2000,
                });

                tl.add({
                    targets: "#img",
                    opacity: [0, 1],
                    translateY: [100, 0],
                })
                    .add(
                        {
                            targets: "#img",
                            width: ["100%", "51%"],
                        },
                        "-=1200"
                    )
                    .add(
                        {
                            targets: "main *",
                            opacity: [0, 1],
                            translateY: [10, 0],
                            delay: anime.stagger(15),
                        },
                        "-=1800"
                    );
            }

            window.onload = function () {
                document.querySelectorAll("*").forEach(el => el.style.opacity = 1);
                playAnimation();
            }
        }
    </script>
</body>

</html>
